.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

form input[placeholder] {
  padding: 0.5rem 1rem;
}

form input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-color: #ccc;
}

ul,
ol {
  width: 500px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

ul > *,
ol > * {
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  overflow: hidden;
}

ul span,
ol span {
  display: inline-block;
  padding: 1rem 2rem;
}
